<h1><%= t "our.hello" %></h1>

<form id="addLanguageForm" action="/language" method="post">
  <div>
    <p id="language_label">Language</p>
    <input name="language_name" id="language_name" required="true"/>
  </div>
    <% @dictKeys.each do |key| %>
      <p class="dictKey"><%= key %>:</p>
      <input name="strings.<%= key %>">
    <% end %>
    <input type="submit" value="Submit" id="add_language"/>
</form>